$main-color: #2c3e50;

$dindisplay: 'PF DIN Display Pro';
$dindisplay-light: 'PF DIN Display Pro Light';
$dindisplay-bold: 'PF DIN Display Pro Bold';
$lato-light: 'LatoWebLight';
$lato: 'LatoWeb';
$lato-medium: 'LatoWebMedium';
$lato-semibold: 'LatoWebSemibold';
$lato-bold: 'LatoWebBold';
$lato-heavy: 'LatoWebHeavy';