@font-face {
  font-family: 'PF DIN Display Pro';
  src: url("fonts/pfdindisplaypro-med.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PF DIN Display Pro Light';
  src: url("fonts/pfdindisplaypro-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PF DIN Display Pro Bold';
  src: url("fonts/pfdindisplaypro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoWebLight';
  src: url("fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url("fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Webfont: Lato-Medium */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("fonts/Lato-Medium.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Medium.woff2") format("woff2"), url("fonts/Lato-Medium.woff") format("woff"), url("fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("fonts/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoWebBold';
  src: url("fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Webfont: Lato-Heavy */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("fonts/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Heavy.woff2") format("woff2"), url("fonts/Lato-Heavy.woff") format("woff"), url("fonts/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------------------------
 Main
 ---------------------------------------------- */
html, body, section, header, footer {
  width: 100%; }

body {
  min-width: 1240px;
  font: 16px "LatoWeb";
  color: #000;
  background-color: #f4f4f4; }

header::after, footer::after, div::after, nav::after, ul::after {
  content: '';
  display: table;
  clear: both; }

section, .container {
  position: relative;
  z-index: 2; }

.container {
  width: 1220px;
  margin: 0 auto; }

/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */
h1 {
  font: 38px "LatoWebHeavy"; }

h2 {
  font: 25px "LatoWebBold"; }

h3 {
  font: 22px "LatoWebSemibold"; }

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */
a {
  color: inherit;
  text-decoration: none;
  outline: 0; }

li {
  list-style: none; }

img {
  width: 100%;
  vertical-align: bottom; }

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */
button, input, textarea {
  outline: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

button {
  cursor: pointer; }

/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */
a, button {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/* ----------------------------------------------
 Header
 ---------------------------------------------- */
#maket {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  background: url(../img/main_page_1920.jpg) no-repeat top center;
  height: 3643px;
  opacity: 0.5;
  z-index: 1; }

/* ----------------------------------------------
 Header
 ---------------------------------------------- */
header > div:first-of-type {
  height: 41px;
  background-color: rgba(88, 103, 116, 0.93); }
header > div:last-of-type {
  height: 90px;
  background-color: rgba(56, 72, 86, 0.93);
  -moz-box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6);
  -webkit-box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6);
  box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6); }

nav a {
  float: left;
  margin: 0 10px; }

.top-menu-1 {
  float: left;
  padding-top: 12px;
  margin-left: 248px;
  font-size: 14px;
  letter-spacing: 0.2px; }

.top-menu-2 {
  float: left;
  padding-top: 36px;
  margin-left: 60px;
  letter-spacing: 0.2px; }
  .top-menu-2 a {
    position: relative;
    z-index: 2; }
    .top-menu-2 a::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      bottom: -35px;
      left: 0;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 3px;
      background-color: #c45a5f;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .top-menu-2 a:hover::after {
      visibility: visible;
      opacity: 1; }

.user-data {
  float: right;
  margin-top: 11px;
  font-size: 14px;
  letter-spacing: 0.2px; }
  .user-data span, .user-data a {
    position: relative;
    z-index: 2; }
    .user-data span::before, .user-data a::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: -2px;
      background-image: url(../img/sprite.png); }
  .user-data span {
    margin-left: 25px; }
    .user-data span::before {
      left: -20px;
      width: 15px;
      height: 14px;
      background-position: 0 0; }
  .user-data a {
    margin-left: 44px; }
    .user-data a::before {
      left: -19px;
      width: 14px;
      height: 14px;
      background-position: -64px 0; }

.logo {
  display: block;
  float: left;
  width: 188px;
  height: 68px;
  margin-top: 11px;
  background-image: url("../img/logo.png");
  background-size: contain; }

.add-offer {
  float: right;
  margin-top: 36px;
  letter-spacing: 0.6px; }

.pageheader {
  height: 631px;
  color: #fff;
  background-image: url(../img/bg_header.jpg);
  background-size: cover;
  background-position: center bottom; }
  .pageheader h1 {
    margin: 162px 0 23px 120px;
    letter-spacing: 1px;
    text-shadow: -6px 0.7px 9.5px rgba(81, 81, 81, 0.6); }

.search-form {
  width: 1000px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
  -moz-border-radius: 5px 3px 3px 5px;
  -webkit-border-radius: 5px 3px 3px 5px;
  border-radius: 5px 3px 3px 5px; }
  .search-form ul, .search-form li {
    float: left; }
  .search-form li a {
    display: block;
    position: relative;
    z-index: 2;
    padding: 20px 50px 20px 25px;
    font: 20px "LatoWebLight";
    color: #898989;
    line-height: 22px;
    border-right: 4px solid rgba(182, 182, 182, 0.35); }
    .search-form li a::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 22px;
      right: 20px;
      width: 10px;
      height: 10px;
      border-top: 2px solid #898989;
      border-right: 2px solid #898989;
      -ms-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
  .search-form input {
    width: 310px;
    height: 62px;
    padding: 20px 25px;
    font: 20px "LatoWebLight";
    color: #898989;
    letter-spacing: 0.5px;
    background-color: transparent; }
  .search-form button {
    float: right;
    width: 200px;
    height: 62px;
    font: 25px "LatoWebSemibold";
    color: #fff;
    background-color: #f6870d;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */
footer {
  height: 89px;
  padding: 30px 0 25px;
  font-family: "LatoWebLight";
  color: #fff;
  background-color: #384856;
  -moz-box-shadow: -6px 0.7px 9.5px 1.5px rgba(81, 81, 81, 0.6);
  -webkit-box-shadow: -6px 0.7px 9.5px 1.5px rgba(81, 81, 81, 0.6);
  box-shadow: -6px 0.7px 9.5px 1.5px rgba(81, 81, 81, 0.6); }
  footer p {
    float: left;
    margin-top: 5px; }
  footer .container > div {
    float: right; }
  footer ul {
    float: left;
    background-color: #56697a;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    footer ul li {
      display: none; }
    footer ul .active {
      display: block; }
      footer ul .active a::before {
        display: block; }
    footer ul a {
      display: block;
      position: relative;
      z-index: 2; }
      footer ul a::before {
        content: '';
        display: none;
        position: absolute;
        z-index: 2;
        top: 8px;
        right: 12px;
        width: 10px;
        height: 10px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        -ms-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg); }

.choose-lang {
  margin-right: 10px; }
  .choose-lang a {
    padding: 7px 110px 7px 10px; }

.coose-currency a {
  padding: 7px 45px 7px 10px; }

.pagefooter {
  padding-top: 35px;
  font-family: "PF DIN Display Pro Light"; }
  .pagefooter h3 {
    font-family: "LatoWebBold";
    margin-bottom: 15px; }
  .pagefooter p {
    margin-bottom: 30px;
    font-weight: 300; }
  .pagefooter .info-us {
    margin: 55px 0 45px; }

.regions {
  margin-bottom: 10px; }
  .regions ul {
    float: left;
    width: 180px;
    line-height: 22px; }
    .regions ul + ul {
      margin-left: 30px; }
    .regions ul:last-of-type {
      width: 160px;
      margin-left: 40px; }
    .regions ul a:hover {
      text-decoration: underline; }

.show-more {
  position: relative;
  z-index: 2;
  padding-right: 20px; }
  .show-more::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 0;
    width: 6px;
    height: 6px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .show-more span {
    border-bottom: 1px dotted #000; }

.info-us {
  color: #737373; }
  .info-us a {
    text-decoration: underline; }
    .info-us a:hover {
      text-decoration: none; }

.footer-nav {
  height: 56px;
  margin-bottom: 75px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }

.footer-menu {
  margin-top: 16px;
  color: #737373; }
  .footer-menu a {
    margin: 0 8px 0 9px;
    text-decoration: underline; }
    .footer-menu a:hover {
      text-decoration: none; }
    .footer-menu a:last-of-type {
      margin-right: 0; }

/* ----------------------------------------------
 Sections
 ---------------------------------------------- */
.category {
  padding-top: 30px;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  text-shadow: 0 0 4.7px rgba(81, 81, 81, 0.8); }
  .category h2 {
    margin-bottom: 9px;
    line-height: 26px; }
  .category ul {
    float: left; }
    .category ul + ul {
      margin-left: 22px; }
  .category li {
    margin-bottom: 7px; }
    .category li span {
      margin-left: 5px; }

.category-big, .category-small {
  position: relative;
  z-index: 2;
  float: left;
  height: 200px;
  padding: 33px 60px 30px 17px;
  margin-bottom: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.category-big {
  width: 607px; }
  .category-big + .category-big {
    margin-left: 6px; }
  .category-big p {
    margin-bottom: 10px; }

.category-small {
  width: 403px; }
  .category-small + .category-small {
    margin-left: 5.5px; }

.content {
  padding: 10px 0 25px; }
  .content h2 {
    padding-top: 7px;
    margin-bottom: 14px;
    letter-spacing: 0.5px; }

.content__block, .sidebar {
  float: left; }

.content__block {
  width: 75%; }

.sidebar {
  width: 25%;
  padding: 45px 30px 0; }
  .sidebar h3 {
    margin-bottom: 11px; }
  .sidebar p {
    float: left;
    margin-top: 5px;
    font-family: "LatoWebMedium"; }
    .sidebar p span {
      display: block; }
  .sidebar span {
    font: 14px "LatoWebLight"; }
  .sidebar img {
    float: left;
    width: 102px;
    height: 62px;
    margin-right: 10px;
    /*border: 1px solid #ddd;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .sidebar a {
    display: block;
    margin-bottom: 10px; }
    .sidebar a:hover img {
      -moz-box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6);
      -webkit-box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6);
      box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6); }
    .sidebar a::after {
      content: '';
      display: table;
      clear: both; }
  .sidebar > div {
    margin-bottom: 70px; }
    .sidebar > div:last-of-type {
      margin-top: 84px; }
  .sidebar .more {
    margin-top: 15px;
    font: 13px "LatoWebSemibold";
    color: #d35c60; }

.goods-nav {
  margin-bottom: 15px;
  font: 14px "LatoWebBold"; }
  .goods-nav p, .goods-nav ul {
    float: left; }
  .goods-nav > a {
    float: right;
    font: 13px "LatoWebSemibold";
    color: #f15c60; }

.goods-menu {
  margin-left: 40px;
  letter-spacing: 0.5px; }
  .goods-menu li {
    float: left; }
    .goods-menu li + li {
      margin-left: 6px; }
    .goods-menu li a {
      border-bottom: 2px solid transparent; }
      .goods-menu li a:hover {
        border-bottom-color: rgba(211, 92, 96, 0.9); }

.link-box {
  margin-bottom: 45px;
  font: 14px "PF DIN Display Pro Light"; }
  .link-box > div {
    float: left;
    width: 302px; }
    .link-box > div + div {
      margin-left: 4px; }
  .link-box .big-link {
    width: 608px; }
    .link-box .big-link p:last-of-type {
      margin-top: 13px; }
    .link-box .big-link p:nth-of-type(3) {
      margin-top: 7px; }
    .link-box .big-link .title {
      margin-bottom: 0; }
  .link-box a {
    display: block;
    width: 100%;
    min-height: 345px;
    padding-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .link-box a:hover {
      -moz-box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6);
      -webkit-box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6);
      box-shadow: 0 0 9.5px 1.5px rgba(81, 81, 81, 0.6); }
  .link-box p {
    padding: 0 20px; }
    .link-box p:last-of-type {
      margin-top: 18px; }
  .link-box span {
    font: 14px "LatoWeb";
    color: #3a3a3a; }
  .link-box img {
    margin-bottom: 12px; }
  .link-box .price, .link-box .title {
    margin-bottom: 2px;
    font: 20px "PF DIN Display Pro Bold";
    letter-spacing: 0.5px; }
  .link-box .place {
    position: relative;
    z-index: 2;
    padding-left: 40px;
    margin-top: 22px; }
    .link-box .place::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 20px;
      width: 15px;
      height: 19px;
      background-image: url("../img/sprite.png");
      background-position: -256px 0; }
  .link-box .look {
    position: relative;
    z-index: 2;
    padding-left: 26px;
    margin-right: 15px; }
    .link-box .look::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 22px;
      height: 14px;
      background-image: url("../img/sprite.png");
      background-position: -320px 0; }
  .link-box .comment {
    position: relative;
    z-index: 2;
    padding-left: 20px; }
    .link-box .comment::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 16px;
      height: 14px;
      background-image: url("../img/sprite.png");
      background-position: -192px 0; }
  .link-box .company-logo {
    display: block;
    float: right;
    width: 90px;
    height: 22px;
    margin-top: -5px; }

.user-opening {
  padding: 30px 0 40px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }
  .user-opening .container > div {
    position: relative;
    z-index: 2;
    float: left;
    width: 33.3%;
    padding-left: 85px; }
    .user-opening .container > div + div {
      padding-left: 115px; }
  .user-opening h3 {
    padding-top: 25px;
    margin-bottom: 7px; }

.buy-premium-btn, .add-proposal-btn, .find-on-map-btn {
  display: inline-block;
  padding: 3px 7px;
  margin-top: 15px;
  color: #485663;
  border: 2px solid #485663;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.buy-premium-btn {
  color: #c54349;
  border-color: #f15c60; }

/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */
.bicycle-bg {
  background-image: url("../img/category_photo_1.jpg");
  background-size: cover; }

.winter-equip-bg {
  background-image: url("../img/category_photo_2.jpg");
  background-size: cover; }

.giroskuter-bg {
  background-image: url("../img/category_photo_3.jpg");
  background-size: cover; }

.kick-scooter-bg {
  background-image: url("../img/category_photo_4.jpg");
  background-size: cover; }

.rollers-bg {
  background-image: url("../img/category_photo_5.jpg");
  background-size: cover; }

.travel-equip-bg {
  background-image: url("../img/category_photo_6.png");
  background-size: cover; }

.map-bg {
  background-image: url("../img/category_photo_7.jpg");
  background-size: cover; }

.calendar-icon, .list-icon {
  display: block;
  float: right;
  width: 33px;
  height: 33px;
  margin-top: -12px;
  background-image: url("../img/sprite.png"); }

.calendar-icon {
  background-position: 0 -64px; }

.list-icon {
  background-position: -64px -64px; }

.diamond-icon::before, .page-icon::before, .point-icon::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  background-image: url("../img/sprite.png"); }

.diamond-icon::before {
  left: 0;
  width: 66px;
  height: 50px;
  background-position: 0 -128px; }

.page-icon::before {
  left: 20px;
  width: 70px;
  height: 70px;
  background-position: -128px -128px; }

.point-icon::before {
  left: 45px;
  width: 50px;
  height: 70px;
  background-position: -256px -128px; }

/* ----------------------------------------------
Pop up
---------------------------------------------- */
/*.pop-up-bg {
  position: fixed;
  display: none;
  width:100%;
  min-height:100%;
  height: 100%;
  top:0;
  background-color: rgba(0,0,0,0.8);
  overflow:hidden;
  z-index: 99;
}*/

/*# sourceMappingURL=styles.css.map */
