<navbar is-hidden-app="$ctrl.isHiddenAppNav" class="navbar-absolute"></navbar>

<section class="pageheader articles__pageheader">
    <div class="container">
        <div class="articles__title">
            <h1>Выбираем велосипед</h1>
            <p>самое полное руководство</p>
            <a href="#" class="read-more">Читать подробнее</a>
        </div>

    </div><!--container-->
</section>

<section class="content">
    <div class="container">
        <div class="content__block">
            <articles-block>
                <h2>Статьи</h2>
                <div class="goods-nav">
                    <ul class="goods-menu">
                        <li>ВСЕ</li>
                        <li class="active">MTB</li>
                        <li>ROLLERS</li>
                        <li>SKATE</li>
                        <li>LIFESTYLE</li>
                        <li>OTHER</li>
                    </ul>
                    <a href="#">Есть что рассказать?</a>
                </div>
                <div class="link-box">
                    <div>
                        <a href="javascript:void(0)">
                            <img src="img/articles-goods.jpg" alt="img">
                            <p class="title">Выбираем велосипед</p>
                            <p>Мы поможем тебе выбрать свой велосипед с первого раза.
                                Расскажем, что нужно знать и какие велосипеды бывают.</p>
                            <div class="link-box__link-info">
                                <span class="look">10155</span>
                                <span class="comment">55</span>
                                <span class="like">155</span>
                                <span class="list-icon"></span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <img src="img/articles-goods.jpg" alt="img">
                            <p class="title">Выбираем велосипед</p>
                            <p>Мы поможем тебе выбрать свой велосипед с первого раза.
                                Расскажем, что нужно знать и какие велосипеды бывают.</p>
                            <div class="link-box__link-info">
                                <span class="look">10155</span>
                                <span class="comment">55</span>
                                <span class="like">155</span>
                                <span class="list-icon"></span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <img src="img/articles-goods.jpg" alt="img">
                            <p class="title">Выбираем велосипед</p>
                            <p>Мы поможем тебе выбрать свой велосипед с первого раза.
                                Расскажем, что нужно знать и какие велосипеды бывают.</p>
                            <div class="link-box__link-info">
                                <span class="look">10155</span>
                                <span class="comment">55</span>
                                <span class="like">155</span>
                                <span class="list-icon"></span>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="javascript:void(0)">
                            <img src="img/articles-goods.jpg" alt="img">
                            <p class="title">Выбираем велосипед</p>
                            <p>Мы поможем тебе выбрать свой велосипед с первого раза.
                                Расскажем, что нужно знать и какие велосипеды бывают.</p>
                            <div class="link-box__link-info">
                                <span class="look">10155</span>
                                <span class="comment">55</span>
                                <span class="like">155</span>
                                <span class="list-icon"></span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <img src="img/articles-goods.jpg" alt="img">
                            <p class="title">Выбираем велосипед</p>
                            <p>Мы поможем тебе выбрать свой велосипед с первого раза.
                                Расскажем, что нужно знать и какие велосипеды бывают.</p>
                            <div class="link-box__link-info">
                                <span class="look">10155</span>
                                <span class="comment">55</span>
                                <span class="like">155</span>
                                <span class="list-icon"></span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <img src="img/articles-goods.jpg" alt="img">
                            <p class="title">Выбираем велосипед</p>
                            <p>Мы поможем тебе выбрать свой велосипед с первого раза.
                                Расскажем, что нужно знать и какие велосипеды бывают.</p>
                            <div class="link-box__link-info">
                                <span class="look">10155</span>
                                <span class="comment">55</span>
                                <span class="like">155</span>
                                <span class="list-icon"></span>
                            </div>
                        </a>
                    </div>

                </div>

                <button class="load-more-btn">Загрузить еще</button>

            </articles-block>

            <banner data="$ctrl.bannerData"></banner>

        </div>

        <aside class="sidebar">
            <div class="offers-box">
                <h3>Прокаты</h3>
                <a href="#">
                    <img src="img/trader_banner_logo_1.png" alt="company">
                    <p>100% СПОРТА <span>123 предложения</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_2.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_2.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_2.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>

                <a class="more" href="#">Все прокаты</a>
            </div>

            <div class="offers-box">
                <h3>Магазины</h3>
                <a href="#">
                    <img src="img/trader_banner_logo_1.png" alt="company">
                    <p>100% СПОРТА <span>123 предложения</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_2.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_2.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_2.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>

                <a class="more" href="#">Все магазины</a>
            </div>

            <div class="offers-box">
                <h3>Акции и предложения</h3>
                <a href="#">
                    <img src="img/trader_banner_logo_1.png" alt="company">
                    <p>100% СПОРТА <span>123 предложения</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_1.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_2.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>
                <a href="#">
                    <img src="img/trader_banner_logo_2.png" alt="company">
                    <p>BikeCenter <span>55 предложений</span></p>
                </a>

                <a class="more" href="#">Все акции и предложения</a>
            </div>

        </aside>


    </div><!--container-->
</section>