<section class="pagefooter">
	<div class="container">
			<p class="info-us">onProkat — база данных о прокате и продаже техники для отдыха. Использование сайта, размещение предложений, означает согласие с <a href="#">Пользовательским соглашением</a>
			и <a href="#">Политикой конфиденциальности</a> onProkat. Оплачивая услуги на сайте, вы принимаете <a href="#">Лицензионное соглашение</a>.</p>

	</div><!--container-->

	<div class="footer-nav">
		<div class="container">
			<nav class="footer-menu">
				<a href="#">Справочный центр</a>
				<a href="#">Тарифы и цены</a>
				<a href="#">Контакты</a>
				<a href="#">Реклама на сайте</a>
				<a href="#">Продвижение объявлений</a>
				<a href="#">Премиум-размещение</a>
				<a href="#">Спецпредложения</a>
				<a href="#">Поиск на карте</a>
				<a href="#">Карта сайта</a>
			</nav>
		</div><!--container-->
	</div>

	<footer>
		<div class="container">
			<p>© 2016 onProkat - Поиск прогулочной техники в прокат во всем мире</p>
			<div>
				<custom-select class="revers choose-lang" options="$ctrl.langSelects" selected-option="$ctrl.langSelected" custom-func="$ctrl.onChooseLang"></custom-select>
				<custom-select class="revers coose-currency" options="$ctrl.currencySelects" selected-option="$ctrl.currencySelected" custom-func="$ctrl.onChooseCurrency"></custom-select>
				<!--<ul class="choose-lang">
					<li class="active"><a href="#">Русский</a></li>
					<li><a href="#">English</a></li>
				</ul>
				<ul class="coose-currency">
					<li class="active"><a href="#">RUB</a></li>
					<li><a href="#">USD</a></li>
				</ul>-->
			</div>
		</div><!--container-->
	</footer>
</section>