<section class="search-conditions">
	<div class="container">
		<div>
			<h2>{{$ctrl.fieldsData.title}}</h2>
			<a ng-click="$ctrl.showSearch = !$ctrl.showSearch" href="javascript:void(0)" class="btn">Изменить условия поиска</a>
			<a href="javascript:void(0)" class="btn">Подписаться на предложения</a>
		</div>

		<form ng-show="$ctrl.showSearch" class="category-form" novalidate>
			<div>
				<ul class="category-list">
					<li ng-class="{'active': $ctrl.activeCats[0] === cat}" ng-repeat="cat in $ctrl.activeCatGroup[0]" ng-click="$ctrl.setActiveCat(cat, 0); $ctrl.getItems()">
						<span>{{cat.title}}</span>
					</li>
				</ul>
				<div class="choose-price">
					<p>Цена:</p>
					<input ng-model="$ctrl.minPrice" ng-change="$ctrl.setMinMax()" name="min-price" type="number" placeholder="от">
					<input ng-model="$ctrl.maxPrice" ng-change="$ctrl.setMinMax()" name="max-price" type="number" placeholder="до">
				</div>
				<div class="number-offers">
					<p>Предложений:
						<span>{{$ctrl.currItemsCount}}</span>
					</p>
				</div>
			</div>

			<ul class="category-list">
				<li ng-class="{'active': $ctrl.activeCats[1] === cat}" ng-repeat="cat in $ctrl.activeCatGroup[1]" ng-click="$ctrl.setActiveCat(cat, 1, true); $ctrl.getItems()">
					<span>{{cat.title}}</span>
				</li>
			</ul>
			<ul class="category-list">
				<li ng-class="{'active': $ctrl.activeCats[2] === cat}" ng-repeat="cat in $ctrl.activeCatGroup[2]" ng-click="$ctrl.setActiveCat(cat, 2, true); $ctrl.getItems()">
					<span>{{cat.title}}</span>
				</li>
			</ul>

			<!--<input ng-model="$ctrl.adress" class="adress" name="adress" placeholder="Город, район, адрес" required="" type="text">-->
			<autocomplete value="$ctrl.searchAutocomplete.value"
						  get-similar-value="$ctrl.searchAutocomplete.getSimilarValue"
						  holder="$ctrl.searchAutocomplete.placeholder"
						  on-change="$ctrl.getItems()"
						  class="search__autocomplete adress"></autocomplete>
			<div class="search-criterion">
				<p>Показать:</p>
				<input ng-repeat-start="sorter in $ctrl.fieldsData.sorters track by sorter.id"
					   ng-model="$ctrl.currSorter"
					   id="{{'form-radio' + $index}}"
					   name="radio"
					   ng-value="sorter"
					   type="radio"
					   ng-checked="$ctrl.currSorter === sorter">
				<label  ng-repeat-end class="radio-label" for="{{'form-radio' + $index}}">{{sorter.title}}</label>
			</div>

			<button ng-click="$ctrl.searchRender()" type="submit">Показать {{$ctrl.currItemsCount}} предложения</button>
			<button ng-click="$ctrl.resetForm()" type="reset">Очистить условия поиска</button>

		</form>

		<!-- <a ng-show="$ctrl.showSearch" ng-click="$ctrl.showSearch = false" href="javascript:void(0)" class="close">скрыть</a> -->

	</div><!--container-->
</section>
