<section class="search-conditions">
	<div class="container">
		<div>
			<h2>{{$ctrl.fieldsData.title}}</h2>
			<a ng-click="$ctrl.showSearch = !$ctrl.showSearch" href="javascript:void(0)" class="btn">Изменить условия поиска</a>
			<a href="javascript:void(0)" class="btn">Подписаться на предложения</a>
		</div>

		<form ng-show="$ctrl.showSearch" class="category-form" novalidate>
			<div>
				<ul class="category-list">
					<li ng-class="{'active': $ctrl.activeCat1 === cat1}" ng-repeat="cat1 in $ctrl.fieldsData.categories" ng-click="$ctrl.setActiveCat(cat1, $ctrl.activeCat1)">
						<span>{{cat1.title}}</span>
					</li>
					<!--<li class="active"><a href="#"><span>В прокат</span></a></li>
					<li><a href="#"><span>Купить</span></a></li>-->
				</ul>
				<div class="choose-price">
					<p>Цена:</p>
					<input ng-model="$ctrl.minPrice" name="min-price" type="number" placeholder="от">
					<input ng-model="$ctrl.maxPrice" name="max-price" type="number" placeholder="до">
				</div>
				<div class="number-offers">
					<p>Предложений:
						<span>{{$ctrl.itemsCount}}</span>
					</p>
				</div>
			</div>

			<ul class="category-list">
				<li ng-class="{'active': $ctrl.activeCat2 === cat2}" ng-repeat="cat2 in $ctrl.activeCat1.subCat" ng-click="$ctrl.setActiveCat(cat2, $ctrl.activeCat2, true)">
					<span>{{cat2.title}}</span>
					<!--<input ng-model="$ctrl.activeCat2" id="{{'form-cat2-index' + $index}}" type="radio" value="{{cat2}}" >
					<label class="radio-label" for="{{'form-cat2-index' + $index}}">{{cat2.name}}</label>-->
				</li>
				<!--<li class="active"><a href="#"><span>Велосипед</span></a></li>
				<li><a href="#"><span>Гироскутер</span></a></li>
				<li><a href="#"><span>Самокат</span></a></li>
				<li><a href="#"><span>Роликовые коньки</span></a></li>
				<li><a href="#"><span>Аксессуары и оборудование</span></a></li>
				<li><a href="#"><span>Зимняя техника</span></a></li>-->
			</ul>
			<ul class="category-list">
				<li ng-class="{'active': $ctrl.activeCat3 === cat3}" ng-repeat="cat3 in $ctrl.activeCat2.subCat" ng-click="$ctrl.setActiveCat(cat3, $ctrl.activeCat3, true)">
					<span>{{cat3.title}}</span>
					<!--<input ng-model="$ctrl.activeCat3" id="{{'form-cat3-index' + $index}}" type="radio" value="{{cat3}}" >
					<label class="radio-label" for="{{'form-cat3-index' + $index}}">{{cat3.name}}</label>-->
				</li>
				<!--<li><a href="#"><span>Шоссейный</span></a></li>
				<li class="active"><a href="#"><span>Горный</span></a></li>
				<li><a href="#"><span>Детский</span></a></li>
				<li><a href="#"><span>Хардтейл</span></a></li>
				<li><a href="#"><span>Двухподвес</span></a></li>
				<li><a href="#"><span>Фэтбайк</span></a></li>
				<li><a href="#"><span>Электро</span></a></li>
				<li><a href="#"><span>Компактный</span></a></li>-->
			</ul>

			<input ng-model="$ctrl.adress" class="adress" name="adress" placeholder="Город, район, адрес" required="" type="text">
			<div class="search-criterion">
				<p>Показать:</p>
				<input ng-repeat-start="tracker in $ctrl.fieldsData.trackers track by tracker.id" ng-model="$ctrl.tracker" id="{{'form-radio' + $index}}" name="radio" value="{{tracker}}" type="radio">
				<label  ng-repeat-end class="radio-label" for="{{'form-radio' + $index}}">{{tracker.title}}</label>


				<!--<input ng-model="$ctrl.tracker" id="form-radio1" name="radio" value="1" type="radio">
				<label class="radio-label" for="form-radio1">сначала дешевые</label>
				<input ng-model="$ctrl.tracker" id="form-radio2" name="radio" value="2" type="radio">
				<label class="radio-label" for="form-radio2">сначала дорогие</label>
				<input ng-model="$ctrl.tracker" id="form-radio3" name="radio" value="3" checked="checked" type="radio">
				<label class="radio-label" for="form-radio3">по-популярности</label>-->
			</div>

			<button ng-click="$ctrl.searchRender()" type="submit">Показать {{$ctrl.goodsCount}} предложения</button>
			<button  type="reset">Очистить условия поиска</button>

		</form>

		<a ng-show="$ctrl.showSearch" ng-click="$ctrl.showSearch = false" href="javascript:void(0)" class="close">скрыть</a>

	</div><!--container-->
</section>