<navbar is-hidden-app="$ctrl.isHiddenAppNav"></navbar>
<search-advance></search-advance>

    <section class="content">
        <div class="container container__white">
            <div class="product">
                <div>
                    <p class="product__category heart-icon">{{$ctrl.productData.businessType}}</p>
                    <h4>Горный профессиональный велосипед двухподвес GT FURY</h4>
                    <p class="product__grey">г. Ростов-на-Дону, пр-т. Космонавтов, 17/1</p>
                    <p class="product__price">400 <i class="fa fa-rub" aria-hidden="true"></i></p>

                    <div class="product__info">
                        <p># Общая информация:</p>
                        <ul>
                            <li><span>Тип техники:</span> <span>Велосипед</span></li>
                            <li><span>Направление:</span> <span>Горный</span></li>
                            <li><span>Цвет:</span> <span>Синий</span></li>
                            <li><span>Размер:</span> <span>S</span></li>
                            <li><span>Колеса:</span> <span>26’’</span></li>
                            <li><span>Вилка:</span> <span>180 мм</span></li>
                            <li><span>Аммортизатор:</span> <span>80 мм</span></li>
                            <li><span>Кол-во скоростей:</span> <span>13</span></li>
                            <li><span>Тормоза:</span> <span>Дисковые</span></li>
                            <li><span>Система:</span> <span>С успокоителем</span></li>
                            <li><span>Наличие:</span> <span>Есть</span></li>
                        </ul>

                    </div>

                    <p class="product__grey product__about">С этим байком, рама которого аналогична верхней модели, вы будете не только быстрее на
                        даунхильных трассах, но и сможете крепко подружиться в байк-парках. Если вы тот, кто не намерен
                        отступать перед большими трамплинами и самым сложным уклоном или рельефом... геометрия рамы и
                        подвеска Fury Expert, проверенные и уже побеждавшие в каньонах Юты, превращают гравитацию из
                        вашего соперника в партнера. Каждый компонент этого байка предназначен для бескомпромиссного и
                        продолжительного катания в больших горах. С Fury Expert вы станете быстрее, храбрее, и счастливее.</p>

                    <div class="booking__block">
                        <div class="booking__logo">
                            <img src="img/trader_logo_1.png" alt="company logo">
                        </div>
                        <div class="booking">
                            <a href="#" class="booking-btn">{{$ctrl.langServiceData.booking}}</a>
                            <p class="booking__contacts">
                                <span ng-show="!$ctrl.showTel">{{$ctrl.langServiceData.or}}</span>
                                <a ng-click="$ctrl.showTel = !$ctrl.showTel" ng-show="!$ctrl.showTel" href="javascript:void(0)">{{$ctrl.langServiceData.showTel}}</a>
                                <a ng-click="$ctrl.showTel = !$ctrl.showTel" ng-show="$ctrl.showTel" href="javascript:void(0)">{{$ctrl.langServiceData.hideTel}}</a>
                                <span class="booking__phone" ng-show="$ctrl.showTel"><a href="tel:+7234567890">+7234567890</a></span>
                            </p>

                        </div>

                    </div>

                </div>

                <div>
                    <div class="product__statistics">
                        <span class="visits">Просмотров: всего 5520, за сегодня 213</span>
                        <span class="accent fire-icon">Выделение</span>
                        <span class="accent diamond-small-icon">Премиум</span>
                        <span>сегодня, 11:00</span>
                    </div>

                    <div class="product__slider">
                        <div class="slide">
                            <img ng-repeat="slide in $ctrl.sliderData" ng-if="$ctrl.activeSlide === slide" ng-src="{{slide.slide.src}}" alt="img">
                        </div>


                        <div class="slide-control" >
                            <span ng-repeat="slide in $ctrl.sliderData" ng-click="$ctrl.setActiveSlide(slide)"><img ng-src="{{slide.thumb.src}}" alt="slide-control"></span>
                        </div>

                    </div>

                    <motion ng-repeat="motion in [0,1]" class="product__banner"></motion>

                </div>

            </div>

            <!--<div class="product__map"></div>-->
            <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH3hC07zDykGfQWp4D3xBuwpVX8nU2s9M">
                <ng-map center="[40.74, -74.18]" class="product__map">
                    <marker position="[40.74, -74.18]"></marker>
                </ng-map>
            </div>

            <div class="product__social">
                <p>
                    <span>Поделиться в</span>
                    <a href="" class="vk" social-vk><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a href="" class="fb" social-facebook><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="" class="tw" social-twitter><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </p>
            </div>

            <div class="product__more">
                <p class="product__more__title">Похожие предложения</p>

                <prod-offer ng-repeat="offer in [0,1,2,3,4]" class="product__more__offer"></prod-offer>
            </div>

        </div><!--container-->
    </section>

    <section class="pagefooter">
        <div class="container">
            <div class="regions">
                <ul>
                    <li><a href="#">Москва</a></li>
                    <li><a href="#">Санкт-Петербург</a></li>
                    <li><a href="#">Башкортостан</a></li>
                    <li><a href="#">Белгородская область</a></li>
                    <li><a href="#">Брянская область</a></li>
                </ul>
                <ul>
                    <li><a href="#">Ивановская область</a></li>
                    <li><a href="#">Иркутская область</a></li>
                    <li><a href="#">Калининградская область</a></li>
                    <li><a href="#">Калужская область</a></li>
                    <li><a href="#">Карелия</a></li>
                </ul>
                <ul>
                    <li><a href="#">Крым</a></li>
                    <li><a href="#">Липецкая область</a></li>
                    <li><a href="#">Марий Эл</a></li>
                    <li><a href="#">Нижегородская область</a></li>
                    <li><a href="#">Новгородская область</a></li>
                </ul>
                <ul>
                    <li><a href="#">Пензенская область</a></li>
                    <li><a href="#">Пермский край</a></li>
                    <li><a href="#">Псковская область</a></li>
                    <li><a href="#">Ростовская область</a></li>
                    <li><a href="#">Рязанская область</a></li>
                </ul>
                <ul>
                    <li><a href="#">Смоленская область</a></li>
                    <li><a href="#">Ставрапольский край</a></li>
                    <li><a href="#">Татарстан</a></li>
                    <li><a href="#">Тверская область</a></li>
                    <li><a href="#">Тульская область</a></li>
                </ul>
                <ul>
                    <li><a href="#">Ханты-Мансийский АО</a></li>
                    <li><a href="#">Челябинская область</a></li>
                    <li><a href="#">Ямало-Ненецкий АО</a></li>
                    <li><a href="#">Ярославская область</a></li>
                </ul>
            </div>
            <a href="#" class="show-more"><span>Показать все регионы</span></a>
        </div>
    </section>