<div class="goods-info">
	<img ng-src="{{$ctrl.data.img}}" alt="goods">
	<div>
		<h5>{{$ctrl.data.name}}</h5>
		<p class="adress">{{$ctrl.data.adress}}</p>
		<p class="price">{{$ctrl.data.price}} {{$ctrl.data.currency}}</p>
		<p>{{$ctrl.data.description}}</p>
		<a class="more" href="#">{{$ctrl.langServiceData.more}}</a>
		<a class="bookmarks" href="#">{{$ctrl.langServiceData.bookmarks}}</a>
		<a href="#" class="show-map-btn">{{$ctrl.langServiceData.showMap}}</a>
		<a href="#" class="complain-btn">{{$ctrl.langServiceData.complain}}</a>
	</div>
	<div>
		<a href="#" class="booking-btn">{{$ctrl.langServiceData.booking}}</a>
		<p>{{$ctrl.langServiceData.or}} <a href="#">{{$ctrl.langServiceData.showRoom}}</a></p>
		<img ng-src="{{$ctrl.data.traderImg}}" alt="company-logo">
		<p class="add-time">{{$ctrl.data.addTime}}</p>
	</div>
</div>