<search-advance items-count="$ctrl.dataPagination.goodsCount"
				tracker="$ctrl.tracker"
				get-items="$ctrl.getGoods"
></search-advance>

<section class="content">
	<div class="container">
		<p class="top-line">
			<span>{{$ctrl.dataPagination.goodsCount}}</span> предложений
			<a href="#">на карте</a>
			<a class="active" href="#">список</a>
		</p>

		<category-goods-info ng-repeat="good in $ctrl.dataGoods
		|sort :$ctrl.tracker.name :$ctrl.tracker.reverse
		|range :$ctrl.dataPagination.currPage :($ctrl.dataPagination.currPage + 4)"
							 data="good"></category-goods-info>

		<banner></banner>

		<category-goods-info ng-repeat="good in $ctrl.dataGoods
		|sort :$ctrl.tracker.name :$ctrl.tracker.reverse
		|range :($ctrl.dataPagination.currPage + 4):($ctrl.dataPagination.currPage + 8)"
							 data="good"></category-goods-info>

		<pagination-nav curr-page="$ctrl.dataPagination.currPage"
						page-count="$ctrl.dataPagination.pageCount"
						page-limit="$ctrl.dataPagination.pageLimit"></pagination-nav>

	</div><!--container-->
</section>

<section class="pagefooter">
	<div class="container">
		<div class="regions">
			<ul>
				<li><a href="#">Москва</a></li>
				<li><a href="#">Санкт-Петербург</a></li>
				<li><a href="#">Башкортостан</a></li>
				<li><a href="#">Белгородская область</a></li>
				<li><a href="#">Брянская область</a></li>
			</ul>
			<ul>
				<li><a href="#">Ивановская область</a></li>
				<li><a href="#">Иркутская область</a></li>
				<li><a href="#">Калининградская область</a></li>
				<li><a href="#">Калужская область</a></li>
				<li><a href="#">Карелия</a></li>
			</ul>
			<ul>
				<li><a href="#">Крым</a></li>
				<li><a href="#">Липецкая область</a></li>
				<li><a href="#">Марий Эл</a></li>
				<li><a href="#">Нижегородская область</a></li>
				<li><a href="#">Новгородская область</a></li>
			</ul>
			<ul>
				<li><a href="#">Пензенская область</a></li>
				<li><a href="#">Пермский край</a></li>
				<li><a href="#">Псковская область</a></li>
				<li><a href="#">Ростовская область</a></li>
				<li><a href="#">Рязанская область</a></li>
			</ul>
			<ul>
				<li><a href="#">Смоленская область</a></li>
				<li><a href="#">Ставрапольский край</a></li>
				<li><a href="#">Татарстан</a></li>
				<li><a href="#">Тверская область</a></li>
				<li><a href="#">Тульская область</a></li>
			</ul>
			<ul>
				<li><a href="#">Ханты-Мансийский АО</a></li>
				<li><a href="#">Челябинская область</a></li>
				<li><a href="#">Ямало-Ненецкий АО</a></li>
				<li><a href="#">Ярославская область</a></li>
			</ul>
		</div>
		<a href="#" class="show-more"><span>Показать все регионы</span></a>
	</div>
</section>