<form class="search-form">
	<ul>
		<li ng-repeat="select in $ctrl.selects">
			<custom-select options="select.options" selected-option="$ctrl.selectedArr[$index]"></custom-select>
		</li>
	</ul>
	<input ng-model="$ctrl.searchKeyword" ng-change="$ctrl.searchSelected = false" placeholder="в Ростове-на-Дону" required="" name="q" type="text">
	<ul ng-if="!!$ctrl.searchKeyword && !$ctrl.searchSelected" class="search__autocomplete">
		<li ng-repeat="field in $ctrl.searchPotentialFields | filter:$ctrl.searchKeyword" ng-click="$ctrl.setSearch(field.name)">
			<span>{{field.name}}</span>
		</li>
	</ul>
	<button type="submit">Найти</button>
</form>