<header>
	<div>
		<div class="container">
			<nav class="top-menu-1">
				<a href="#">Магазины</a>
				<a href="#">Прокаты</a>
				<a href="#">Акции и предложения</a>
				<a href="#">Контакты</a>
			</nav>

			<div class="user-data">
				<span>0</span>
				<a href="#">Вход</a>
			</div>

		</div><!--container-->
	</div>

	<div>
		<div class="container">
			<a href="/" class="logo"></a>

			<nav class="top-menu-2">
				<a href="#">Прокат</a>
				<a href="#">Продажа</a>
				<a href="#">События</a>
				<a href="#">Статьи</a>
				<a href="#">Интерактивная карта </a>
			</nav>


			<a href="#" class="add-offer">+ Добавить предложение</a>

		</div><!--container-->
	</div>

</header>