.search__autocomplete {
    li {
        float: none;
        color: $main-color;
    }
}

.hidden {
    //display: none;
}

custom-select {
    a {
        display: block;
        position: relative;
        z-index: 2;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    ul {
        transition:all linear 0.2s;
        transform-origin: top;
    }
    li {
        cursor: pointer;
    }
    .ng-enter {
        transform: scaleY(0);
    }
    .ng-leave, .ng-enter.ng-enter-active {
        transform: scaleY(1);
    }
    .ng-leave.ng-leave-active {
        transform: scaleY(0);
    }
    &.revers {
       ul {
           transform-origin: bottom;
       }
    }
}

goods-block {
    float: left;
    width: 75%;
}

goods-block {
    .ng-enter {
        opacity: 0;
        transition: all linear 0.5s;
    }
    .ng-enter.ng-enter-active {
        opacity: 1;
    }
}
search-advance {
    form {
        max-height: 300px;
        transition: all linear 0.2s;
        overflow: hidden;
        &.ng-hide {
            max-height: 0;
            padding: 0;
        }
    }
    .close {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: -27px;
        left: 50%;
        width: 140px;
        height: 27px;
        padding-top: 3px;
        color: #fff;
        text-align: center;
        background-color: #898989;
        @include border-radius(0 0 3px 3px);
        @include transform(translate3d(-50%, 0, 0));
        &.ng-hide {
            opacity: 0;
        }
    }
}

category-goods-info {
    .goods-info__prem {
        background-color: #fed493;
        border-color: #ffb000;
        &:hover {
            background-color: #ffc96e;
        }
    }
}
