.hidden {
    //display: none;
}

custom-select {
    a {
        display: block;
        position: relative;
        z-index: 2;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    ul {
        transition:all linear 0.3s;
        transform-origin: top;
        overflow: hidden;
    }
    li {
        cursor: pointer;
    }
    .ng-enter {
        max-height: 0;
        //transform: scaleY(0);
    }
    .ng-leave, .ng-enter.ng-enter-active {
        //transform: scaleY(1);
        max-height: 300px;
    }
    .ng-leave.ng-leave-active {
        max-height: 0;
        //transform: scaleY(0);
    }
    &.revers {
       ul {
           transform-origin: bottom;
       }
    }
}

goods-block {
    float: left;
    width: 75%;
}

search-advance {
    form {
        &.ng-hide-remove {
            animation: search-advance-show 0.2s linear;
            overflow: hidden;
        }
        &.ng-hide-add {
            animation: search-advance-hide 0.2s linear;
            overflow: hidden;
        }

        .category-list {
            .ng-enter {
                animation: fade-in 0.2s linear;
            }
            .ng-leave {
                display: none;
            }
        }
    }
    .close {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: -27px;
        left: 50%;
        width: 140px;
        height: 27px;
        padding-top: 3px;
        color: #fff;
        text-align: center;
        background-color: #898989;
        @include border-radius(0 0 3px 3px);
        @include transform(translate3d(-50%, 0, 0));

        &.ng-hide-remove {
            animation: fade-in 0.2s linear;
        }
        &.ng-hide-add {
            animation: fade-out 0.2s linear;
        }
    }
}

category-goods-info {
    .goods-info__prem {
        background-color: #fed493;
        border-color: #ffb000;
        &:hover {
            background-color: #ffc96e;
        }
    }
}
.goods-info__contacts {
    .ng-animate {
        transition: none;
        opacity: 0;
    }
}

articles {
    display: block;
    .content {
        padding: 25px 0 0;
    }
    .offers-box {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 75px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
articles-block {
    display: block;
    margin-bottom: 23px;
    .link-box {
        margin-bottom: 6px;
    }
}
