@charset "UTF-8";

@import 'mixin';
@import 'fonts';
@import 'variables';
@import 'head';
@import 'js'; 

#maket {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    background: url(../img/main_page_1920.jpg) no-repeat top center;
    height: 3643px;
    opacity: 0.5;
    z-index: 1;
}
#maket2 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 1920px;
    background: url(../img/category_ads_page_1920.jpg) no-repeat top center;
    height: 3643px;
    opacity: 0.5;
    z-index: 1;
}
#maket3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    background: url(../img/add_page_1920.jpg) no-repeat top center;
    height: 3643px;
    opacity: 0.5;
    z-index: 1;
}

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */

.btn {
    display: inline-block;
    border: 1px solid #000;
    @include border-radius(3px);
}

.booking-btn {
    display: block;
    width: 203px;
    height: 26px;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
    text-align: center;
    background-color: #008adf;
    border: 2px solid #008adf;
    @include border-radius(3px);
}


/* ----------------------------------------------
 Header
 ---------------------------------------------- */

.navbar {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    @include transition(all 0.2s ease-in-out);
    .hidden {
        @include transform(translate3d(0, -100%, 0));
    }
    header.hidden > div:last-of-type {
        @include box-shadow(none);
    }
}
header {
    color: #fff;
    @include transition(all 0.2s ease-in-out);
    > div {
        &:first-of-type {
            height: 41px;
            background-color: rgba(88, 103, 116, 0.93);
        }
        &:last-of-type {
            height: 90px;
            background-color: rgba(56, 72, 86, 0.93);
            @include box-shadow(0 0 9.5px 1.5px rgba(81, 81, 81, 0.6));
        }
    }
}

nav a {
    float: left;
    margin: 0 10px;
}

.top-menu-1 {
    float: left;
    padding-top: 12px;
    margin-left: 248px;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.top-menu-2 {
    float: left;
    padding-top: 36px;
    margin-left: 60px;
    letter-spacing: 0.2px;
    a {
        position: relative;
        z-index: 2;
        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            bottom: -35px;
            left: 0;
            visibility: hidden;
            opacity: 0;
            width: 100%;
            height: 3px;
            background-color: #c45a5f;
            @include transition(all 0.2s ease-in-out);
        }
        &:hover::after {
            visibility: visible;
            opacity: 1;
        }
    }
}

.user-data {
    float: right;
    margin-top: 14px;
    font-size: 14px;
    letter-spacing: 0.2px;
    span, a {
        position: relative;
        z-index: 2;
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: -2px;
            background-image: url(../img/sprite.png);
        }
    }
    span {
        margin-left: 25px;
        &::before {
            left: -20px;
            width: 15px;
            height: 14px;
            background-position: 0 0;
        }
    }
    a {
        margin-left: 44px;
        &::before {
            left: -19px;
            width: 14px;
            height: 14px;
            background-position: -64px 0;
        }
        &:hover {
        }
    }
}

.logo {
    display: block;
    float: left;
    width: 188px;
    height: 68px;
    margin-top: 11px;
    background-image: url("../img/logo.png");
    background-size: contain;
}

.add-offer {
    float: right;
    margin-top: 36px;
    letter-spacing: 0.6px;
}

.pageheader {
    height: 631px;
    padding-top: 131px;
    color: #fff;
    background-image: url(../img/bg_header.jpg);
    background-size: cover;
    background-position: center bottom;
    h1 {
        margin: 162px 0 23px 120px;
        letter-spacing: 1px;
        text-shadow: -6px 0.7px 9.5px rgba(81, 81, 81, 0.6);
    }
}

.search-form {
    position: relative;
    z-index: 2;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    @include border-radius(5px 3px 3px 5px);
    ul, li {
        float: left;
    }
    > ul {
        width: 525px;
        > li {
            width: 33.3333333%;
        }
    }
    button {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 200px;
        height: 62px;
        font: 25px $lato-semibold;
        color: #fff;
        background-color: #f6870d;
        @include border-radius(0 3px 3px 0);
    }
    > ul li:first-of-type {
        .search-form__select > a {
            @include border-radius(5px 0 0 5px);
        }
    }
}
.search-form__select {
    > a {
        height: 62px;
        padding: 20px 40px 20px 25px;
        font: 20px $lato-light;
        color: #898989;
        line-height: 22px;
        background-color: rgba(255, 255, 255, 0.95);
        border-right: 4px solid rgba(182, 182, 182, 0.35);
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 22px;
            right: 20px;
            width: 10px;
            height: 10px;
            border-top: 2px solid #898989;
            border-right: 2px solid #898989;
            @include transform(rotate(135deg));
        }
    }
   ul {
       width: 100%;
       padding-bottom: 10px;
       overflow: hidden;
       background-color: rgba(255, 255, 255, 0.95);
       @include border-radius(0 0 5px 5px);
       li {
           float: none;
           padding: 10px 25px;
           font: 20px $lato-light;
           color: #898989;
       }
   }
    .active {
        @include border-radius(0 !important);
        &::before {
            top: 30px;
            @include transform(rotate(315deg));
        }
    }
}

.search__autocomplete {
    float: left;
    font: 20px $lato-light;
    color: #898989;
    letter-spacing: 0.5px;
    > ul {
        float: none;
        max-width: 275px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.95);
        @include border-radius(0 0 5px 5px);
    }
    li {
        float: none;
        padding: 10px 25px;
    }
    input {
        width: 460px;
        height: 62px;
        padding: 20px 225px 20px 25px;
        background-color: rgba(255, 255, 255, 0.95);
    }
}

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */

footer {
    height: 89px;
    padding: 30px 0 25px;
    font-family: $lato-light;
    color: #fff;
    background-color: #384856;
    @include box-shadow(-6px 0.7px 9.5px 1.5px rgba(81, 81, 81, 0.6));
    p {
        float: left;
        margin-top: 5px;
    }
    .container > div {
        float: right;
    }
    custom-select {
        float: left;
        position: relative;
        z-index: 2;
        ul {
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            background-color: #56697a;
            @include border-radius(3px 3px 0 0);
        }
        li {
            padding: 7px 35px 7px 10px;
        }
        a {
            height: 33px;
            padding: 7px 35px 7px 10px;
            background-color: #56697a;
            @include border-radius(3px);
            &::before {
                content: '';
                display: block;
                position: absolute;
                z-index: 2;
                top: 8px;
                right: 12px;
                width: 10px;
                height: 10px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                @include transform(rotate(135deg));
            }
        }
        .active {
            @include border-radius(0 0 3px 3px);
        }
    }
}

.choose-lang {
    width: 179px;
    margin-right: 10px;
}

.coose-currency {
    width: 87px;
}

.pagefooter {
    padding-top: 35px;
    font-family: $dindisplay-light;
    h3 {
        font-family: $lato-bold;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 30px;
        font-weight: 300;
    }
    .info-us {
        margin: 55px 0 45px;
    }
}

.regions {
    margin-bottom: 10px;
    ul {
        float: left;
        width: 180px;
        line-height: 22px;
        + ul {
            margin-left: 30px;
        }
        &:last-of-type {
            width: 160px;
            margin-left: 40px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.show-more {
    position: relative;
    z-index: 2;
    padding-right: 20px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: 5px;
        right: 0;
        width: 6px;
        height: 6px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        @include transform(rotate(135deg));
    }
    span {
        border-bottom: 1px dotted #000;
    }
}

.info-us {
    color: #737373;
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.footer-nav {
    height: 56px;
    margin-bottom: 75px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.footer-menu {
    margin-top: 16px;
    color: #737373;
    a {
        margin: 0 8px 0 9px;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}

/* ----------------------------------------------
 Sections
 ---------------------------------------------- */

.category {
    padding-top: 30px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    text-shadow: 0 0 4.7px rgba(81, 81, 81, 0.8);
    h2 {
        margin-bottom: 9px;
        line-height: 26px;
    }
    ul {
        float: left;
        + ul {
            margin-left: 22px;
        }
    }
    li {
        margin-bottom: 7px;
        span {
            margin-left: 5px;
        }
    }
}

.category-big, .category-small {
    position: relative;
    z-index: 2;
    float: left;
    height: 200px;
    padding: 33px 60px 30px 17px;
    margin-bottom: 6px;
    @include border-radius(3px);
}

.category-big {
    width: 607px;
    + .category-big {
        margin-left: 6px;
    }
    p {
        margin-bottom: 10px;
    }
}

.category-small {
    width: 403px;
    + .category-small {
        margin-left: 5.5px;
    }
}

.content {
    padding: 10px 0 25px;
    h2 {
        padding-top: 7px;
        margin-bottom: 14px;
        letter-spacing: 0.5px;
    }
}

.content__block, .sidebar {
    float: left;
}

.content__block {
    width: 75%;
}

.sidebar {
    width: 25%;
    padding: 45px 30px 0;
}

.sidebar-menu {
    margin-top: 30px;
    font-family: $lato-semibold;
    a {
        line-height: 25px;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom-color: rgba(211, 92, 96, 0.9);
        }
    }
    .active a {
        border-bottom-color: rgba(211, 92, 96, 0.9);
    }
}
.support-links {
    margin-top: 280px !important;
    a {
        display: inline;
        margin: 0;
        font-family: $lato-semibold;
        line-height: 25px;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom-color: rgba(211, 92, 96, 0.9);
        }
    }
    .reset {
        display: block;
        width: 182px;
        height: 29px;
        margin-bottom: 10px;
        font: 16px $lato;
        color: #fff;
        line-height: 27px;
        text-transform: uppercase;
        text-align: center;
        background-color: #656565;
        border: 1px solid #656565;
        @include border-radius(3px);
        @include transition(all 0.2s ease-in-out);
        cursor: pointer;
        &:hover {
            color: #656565;
            background-color: #fff;
        }
    }
}

.goods-nav {
    margin: 5px 0 15px;
    font: 14px $lato-bold;
    p, ul {
        float: left;
    }
    > a {
        float: right;
        font: 13px $lato-semibold;
        color: #f15c60;
    }
}

.goods-menu {
    margin-left: 40px;
    letter-spacing: 0.5px;
    li {
        float: left;
        + li {
            margin-left: 6px;
        }
        a {
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom-color: rgba(211, 92, 96, 0.9);
            }
        }
    }
    .active a {
        border-bottom-color: rgba(211, 92, 96, 0.9);
    }
}

.link-box {
    margin-bottom: 45px;
    font: 14px $dindisplay-light;
    > div {
        float: left;
        width: 302px;
        + div {
            margin-left: 4px;
        }
    }
    .big-link {
        width: 608px;
        p:last-of-type {
            margin-top: 13px;
        }
        p:nth-of-type(3) {
            margin-top: 7px;
        }
        .title {
            margin-bottom: 0;
        }
    }
    a {
        display: block;
        width: 100%;
        min-height: 345px;
        padding-bottom: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        @include border-radius(3px);
        &:hover {
            @include box-shadow(0 0 9.5px 1.5px rgba(81, 81, 81, 0.6));
        }
    }
    p {
        padding: 0 20px;
        &:last-of-type {
            margin-top: 18px;
        }
    }
    span {
        font: 14px $lato;
        color: #3a3a3a;
    }
    img {
        margin-bottom: 12px;
    }
    .price, .title {
        margin-bottom: 2px;
        font: 20px $dindisplay-bold;
        letter-spacing: 0.5px;
    }
    .place {
        position: relative;
        z-index: 2;
        padding-left: 40px;
        margin-top: 22px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 20px;
            width: 15px;
            height: 19px;
            background-image: url("../img/sprite.png");
            background-position: -256px 0;
        }
    }
    .look {
        position: relative;
        z-index: 2;
        padding-left: 26px;
        margin-right: 15px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 22px;
            height: 14px;
            background-image: url("../img/sprite.png");
            background-position: -320px 0;
        }
    }
    .comment {
        position: relative;
        z-index: 2;
        padding-left: 20px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 16px;
            height: 14px;
            background-image: url("../img/sprite.png");
            background-position: -192px 0;
        }
    }
    .company-logo {
        display: block;
        float: right;
        width: 90px;
        height: 22px;
        margin-top: -5px;
    }
}

.goods-block {
    float: left;
    width: 75%;
    h2 {
        padding-top: 0;
        margin-bottom: 7px;
        line-height: 30px;
    }
}
.offers-box {
    float: left;
    width: 25%;
    padding: 0 30px;
    h3 {
        margin-bottom: 11px;
    }
    p {
        float: left;
        margin-top: 5px;
        font-family: $lato-medium;
        span {
            display: block;
        }
    }
    span {
        font: 14px $lato-light;
    }
    img {
        float: left;
        width: 102px;
        height: 62px;
        margin-right: 10px;
        /*border: 1px solid #ddd;*/
        @include border-radius(3px);
    }
    a {
        display: block;
        margin-bottom: 10px;
        &:hover {
            img {
                @include box-shadow(0 0 9.5px 1.5px rgba(81, 81, 81, 0.6));
            }
        }
        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }
    .more {
        margin-top: 15px;
        font: 13px $lato-semibold;
        color: #f15c60;
    }
}

.user-opening {
    padding: 30px 0 40px;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    .container > div {
        position: relative;
        z-index: 2;
        float: left;
        width: 33.3%;
        padding-left: 85px;
        + div {
            padding-left: 115px;
        }
    }
    h3 {
        padding-top: 25px;
        margin-bottom: 7px;
    }
    .btn {
        padding: 3px 7px;
        margin-top: 15px;
        color: #485663;
        border: 2px solid #485663;
    }
    .diamond-icon .btn {
        color: #c54349;
        border-color: #f15c60;
    }
}

.search-conditions {
    padding: 38px 0 0;
    margin-bottom: 30px;
    background-color: #fff;
    h2 {
        margin-bottom: 10px;
        letter-spacing: 0.5px;
    }
    .btn {
        padding: 6px 5px;
        color: #56697a;
        letter-spacing: 0.5px;
        border-color: #4c697c;
        + .btn {
            margin-left: 10px;
        }
    }
    .container > div:first-of-type {
        padding-bottom: 20px;
    }
}

.category-form {
    position: relative;
    z-index: 2;
    padding: 19px 0;
    color: #656565;
    letter-spacing: 0.5px;
    background-color: #fff;
     border-top: 1px solid #f4f4f4;
    > div {
        .category-list, .choose-price {
            float: left;
        }
    }
    input {
        padding: 5px;
        color: #c9c9c9;
        border: 1px solid #b5b5b5;
        @include border-radius(3px);
    }
    ul {
        margin-bottom: 22px;
    }

    button {
        float: left;
        width: 257px;
        height: 32px;
        border: 1px solid #f15c60;
        @include border-radius(3px);
    }
    button[type="submit"] {
        color: #fff;
        background-color: #f15c60;
    }
    button[type="reset"] {
        margin-left: 12px;
        color: #d35c60;
        background-color: #fff;
    }
    .number-offers {
        float: right;
    }
    .adress {
        width: 488px;
        height: 41px;
        padding: 10px;
        margin-bottom: 32px;
        color: #c8c8c8;
    }
    .search-criterion {
        float: right;
        padding: 10px 5px 10px 0;
        p {
            float: left;
            margin-right: 15px;
        }
    }
    input[type="radio"] {
        display: none;
        &:checked + .radio-label::after {
            opacity: 1;
            visibility: visible;
        }
    }
    .radio-label {
        display: inline-block;
        position: relative;
        z-index: 2;
        padding-left: 33px;
        margin-left: 10px;
        line-height: 21px;
        cursor: pointer;
        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 21px;
            height: 21px;
            @include border-radius(50%);
            @include box-sizing(border-box);
        }
        &::before {
            background-color: #fff;
            border: 1px solid #b5b5b5;
        }
        &::after {
            background-color: #f15c60;
            border: 1px solid #f15c60;
            opacity: 0;
            visibility: hidden;
            @include transition(all 0.2s ease-in-out 0s);
        }
    }
}
.category-list {
    li {
        float: left;
        display: inline-block;
        height: 29px;
        padding: 0 22px;
        @include border-radius(3px);
        @include transition(all 0.2s ease-in-out);
        cursor: pointer;
        span {
            line-height: 29px;
            border-bottom: 1px dashed #b5b5b5;
        }
        &:hover {
            color: #fff;
            background-color: #f15c60;
            span {
                border-bottom-color: transparent;
            }
        }
        + li {
            margin-left: 10px;
        }
    }
    .active {
        color: #fff;
        background-color: #f15c60;
        span {
            border-bottom-color: transparent;
        }
    }
}

.choose-price {
    margin-left: 155px;
    input {
        width: 135px;
        height: 29px;
        padding: 3px 5px;
        margin-left: 10px;
    }
    p {
        float: left;
        margin-right: 3px;
        line-height: 29px;
    }
}
.number-offers {
    span {
        display: inline-block;
        padding: 4px 38px;
        margin-left: 10px;
        border: 1px solid #b5b5b5;
        @include border-radius(3px);
    }
}
.top-line {
    margin: 0 0 20px;
    letter-spacing: 0.5px;
    span {
        margin-right: 5px;
        font-family: $lato-bold;
    }
    a {
        float: right;
        margin-left: 20px;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom-color: rgba(211, 92, 96, 0.9);
        }
    }
    .active {
        border-bottom-color: rgba(211, 92, 96, 0.9);
    }
}

.goods-info {
    height: 242px;
    margin-bottom: 11px;
    font: 14px $lato-thin;
    letter-spacing: 0.4px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    @include border-radius(3px);
    &:hover {
        background-color: #effdff;
    }
    h5 {
        margin: 12px 0 6px;
    }
    p {
        margin-bottom: 17px;
    }
    a {
        font: 16px $lato;
    }
    > img {
        float: left;
        max-width: 350px;
        margin-right: 40px;
    }
    > div {
        float: left;
        width: 590px;
        &:last-of-type {
            width: 203px;
            margin-left: 15px;
        }
        img {
            display: block;
            width: auto;
            margin: 39px auto;
        }
    }
    .adress {
        margin-bottom: 10px;
        font-family: $lato-light;
    }
    .price {
        margin-bottom: 15px;
        font: 16px $lato-semibold;
    }
    .more {
        margin: 0 10px;
        color: #2b87db;
    }
    .bookmarks {
        position: relative;
        z-index: 2;
        padding-left: 20px;
        margin: 0 10px;
        color: #ce4a4e;
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 15px;
            height: 14px;
            background-image: url("../img/sprite.png");
            background-position: -384px 0;
        }
    }
    .booking-btn {
        margin: 18px 0 5px;
        font-size: 14px;
        line-height: 22px;
        + p {
            font: 13px $lato-light;
            color: #010101;
            text-align: center;
            a {
                font: 13px $lato-light;
                border-bottom: 1px dashed #000;
                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }
    }
    .add-time {
        position: relative;
        z-index: 2;
        font: 12px $lato-light;
        text-align: right;
        letter-spacing: 0.5px;
        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            background-image: url("../img/sprite.png");
        }
        &::before {
            width: 29px;
            height: 22px;
            top: -3px;
            left: -40px;
            background-position: -512px 0;
        }
        &::after {
            width: 19px;
            height: 27px;
            top: -8px;
            left: 8px;
            background-position: -448px 0;
        }
    }
}

.banner {
    height: 402px;
    margin: 12px 0;
    border: 1px solid #f4f4f4;
}

.pages-list {
    height: 122px;
    padding: 17px 0;
    margin: 25px 0 55px;
    font-family: $lato-light;
    color: #a4a4a4;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    @include border-radius(3px);
    ul {
        position: relative;
        z-index: 2;
        padding-left: 42px;
        margin-bottom: 39px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #d1d1d1;
        }
    }
    span {
        color: #000;
    }
    li {
        position: relative;
        z-index: 2;
        float: left;
        margin-right: 12px;
        a {
            position: relative;
            z-index: 2;
            &::before {
                content: '';
                display: block;
                position: absolute;
                z-index: 2;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: transparent;
                @include transition(all 0.2s ease-in-out);
            }
            &:hover::before  {
                background-color: rgba(211, 92, 96, 0.9);
            }
        }
    }
    .active::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgba(211, 92, 96, 0.9);
        @include transition(all 0.2s ease-in-out);
    }
    .btn {
        padding: 0 3px;
        margin-left: 42px;
        font-size: 14px;
        color: #000;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
}

.add-offer-content {
    padding: 28px 0 0;
    h2 {
        float: left;
    }
}
.xml-download {
    float: right;
    margin-top: 12px;
    line-height: 25px;
    border-bottom: 1px dashed #000;
    &:hover {
        border-bottom-color: transparent;
    }
}

.new-offer-form {
    padding: 0;
    border: 1px solid #d1d1d1;
    @include border-radius(3px);
    h4 {
        margin-bottom: 20px;
        color: #000;
    }
    .title {
        float: left;
        width: 100px;
        margin-right: 20px;
        line-height: 29px;
    }
    li {
        margin: 0 5px 5px;
        + li {
            margin-left: 5px;
        }
    }
    .category-list {
        width: 720px;
    }
    > div {
        padding: 30px;
        border-bottom: 1px solid #d1d1d1;
        &:last-of-type {
            border-bottom: none;
        }
        > div:last-of-type .category-list {
            margin-bottom: 0;
        }
    }
    .title-block {
        h4 {
            float: left;
        }
        a {
            float: right;
            font-size: 13px;
            color: #f15c60;
        }
    }
    input {
        height: 29px;
        padding: 0 10px;
        color: #000;
    }
    .map-block {
        > input {
            width: 100%;
        }
        label {
            display: block;
            width: auto;
            font-size: 13px;
            color: #656565;
            line-height: 25px;
        }
        > div:not(.map) > div {
            float: left;
            margin-right: 10px;
        }
        div {
            input[type="text"] {
                width: 204px;
            }
            input[type="time"] {
                width: 90px;
            }
        }
        .dropdown {
            float: left;
            width: 136px;
            margin: 25px 0 0;
        }
    }
    .map {
        width: 853px;
        height: 370px;
        margin: 15px 0;
        background-image: url("../img/map_bg.jpg");
    }
    .dropdown {
        li {
            margin: 0;
        }
        a {
            display: block;
            position: relative;
            z-index: 2;
            width: 136px;
            height: 29px;
            padding: 0 30px 0 10px;
            color: #000;
            line-height: 27px;
            border: 1px solid #b5b5b5;
            @include border-radius(3px);
            &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: 2;
                top: 8px;
                right: 12px;
                width: 6px;
                height: 6px;
                border-top: 1px solid #000;
                border-right: 1px solid #000;
                @include transform(rotate(135deg));
            }
        }
    }
    label {
        display: inline-block;
        width: 120px;
        letter-spacing: normal;
    }
    .about {
        input {
            width: 85px;
        }
        input[name="name"] {
            width: 457px;
        }
        input[name="color"] {
            width: 136px;
        }
        input[name="manufacturer"] {
            width: 205px;
        }
        > div {
            margin-bottom: 10px;
        }
    }
    .photo {
        p {
            font-size: 13px;
            letter-spacing: normal;
            span {
                display: block;
            }
        }
        .file-upload {
            width: 100%;
            height: 205px;
            margin: 25px 0;
            text-align: center;
            border: 1px dashed #b5b5b5;
            input[type="file"]{
                display: none;
            }
            label {
                display: inline-block;
                width: 253px;
            }
            .btn {
                width: 100%;
                height: 29px;
                font-size: 13px;
                color: #f15c60;
                letter-spacing: normal;
                line-height: 27px;
                text-align: center;
                text-transform: uppercase;
                border: 1px solid #f15c60;
                cursor: pointer;
            }
        }
        .file-upload-icon {
            width: 92px;
            height: 74px;
            margin: 40px auto 30px;
            background-image: url("../img/sprite.png");
            background-position: -384px -128px;
        }
        textarea {
            width: 853px;
            height: 205px;
            padding: 10px;
            border: 1px solid #b5b5b5;
            @include border-radius(3px);
        }
    }
    .price-conditions {
        > div {
            margin-bottom: 10px;
        }
        input {
            width: 183px;
        }
        .dropdown {
            display: inline-block;
            a {
                width: 73px;
                margin-left: -5px;
                @include border-radius(0 3px 3px 0);
            }
        }
    }
    button.submit-all {
        float: right;
        width: 248px;
        margin-bottom: 10px;
        color: #f15c60;
        background-color: #fff;
        &:hover {
            color: #fff;
            background-color: #f15c60;
        }
    }
}

.add-phone {
    p {
        margin-bottom: 5px;
        &:first-of-type {
            margin-bottom: 20px;
        }
    }
    span {
        display: block;
        font: 18px $lato-light;
        color: #000;
    }
    input {
        padding: 0 5px;
        margin-left: 5px;
        border-color: #d1d1d1;
    }
    input[name="phone-part-1"] {
        width: 43px;
    }
    input[name="phone-part-2"] {
        width: 97px;
    }
    button {
        float: none;
        width: 102px;
        margin-left: 5px;
    }
    .dropdown {
        float: left;
        margin-right: 5px;
    }
}

.choose-rate {
    margin: 30px 0 70px;
    font-size: 12px;
    color: #000;
    line-height: 17px;
    letter-spacing: normal;
    > div {
        position: relative;
        z-index: 2;
        float: left;
        width: 32%;
        height: 240px;
        padding: 15px;
        border: 1px solid #b5b5b5;
        @include border-radius(3px);
        @include transition(all 0.2s ease-in-out);
        + div {
            margin-left: 2%;
        }
        &:hover {
            @include box-shadow(0 0 9.5px 1.5px rgba(80, 80, 80, 0.6));
        }
    }
    .title-rate {
        position: relative;
        z-index: 2;
        padding: 20px 30px 30px 95px;
        font: 18px $lato-semibold;
        line-height: 25px;
        text-transform: uppercase;
        text-align: right;
    }
    .btn {
        position: absolute;
        z-index: 2;
        left: 15px;
        bottom: 18px;
        width: 102px;
        height: 29px;
        font-size: 16px;
        color: #fff;
        line-height: 29px;
        text-align: center;
        background-color: #f15c60;
        border-color: #f15c60;
        &:hover {
            color: #f15c60;
            background-color: #fff;
        }
    }
}

.product {
    padding-bottom: 30px;
    font-size: 14px;
    > div {
        float: left;
        width: 520px;
        &:last-of-type {
            float: right;
        }
    }
    h4 {
        margin-bottom: 10px;
    }
}
.product__category {
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
    font-size: 16px;
}
.product__grey {
    color: #656565;
}
.product__about {
    text-align: justify;
    line-height: 18px;
}
.product__price {
    margin: 25px 0;
    font-size: 18px;
}
.product__info {
    margin-bottom: 25px;
    line-height: 20px;
    ul {
        width: 340px;
        span {
            display: block;
            float: left;
            width: 45%;
            + span {
                margin-left: 10%;
            }
        }
    }
}
.booking__block {
    height: 101px;
    margin-top: 25px;
    border: 1px solid #b4b4b4;
    @include border-radius(3px);
    > div {
        float: left;
        width: 25%;
        height: 100%;
        padding: 25px 20px;
        + div {
            width: 75%;
            border-left: 1px solid #b4b4b4;
        }
    }
    .booking-btn {
        margin: 4px auto 0;
        + p {
            font: 13px $lato-light;
            color: #010101;
            text-align: center;
            line-height: 25px;
            a {
                font: 13px $lato-light;
                border-bottom: 1px dashed #000;
                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }
    }
}
.booking__logo {
    line-height: 49px;
    img {
        vertical-align: middle;
    }
}
.product__statistics {
    margin-bottom: 20px;
    font-size: 12px;
    span + span {
        margin-left: 15px;
    }
    .visits {
        color: #56697a;
        text-decoration: underline;
    }
    .accent {
        color: #d35c60;
        text-decoration: underline;
    }
    .fire-icon {
        position: relative;
        z-index: 2;
        padding-left: 13px;
    }
    .diamond-small-icon {
        position: relative;
        z-index: 2;
        padding-left: 22px;
    }
}

.product__slider {
    .slide {
        height: 346px;
    }
    .slide-control {
        margin: 5px 0 20px;
        span {
            display: block;
            float: left;
            width: 112px;
            height: 76px;
            cursor: pointer;
            + span {
                margin-left: 24px;
            }
        }
    }
}

.product__banner {
    position: relative;
    z-index: 2;
    height: 101px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px solid #b4b4b4;
    &:last-of-type {
        margin-bottom: 0;
    }
    img {
        float: left;
        width: 124px;
        margin-right: 10px;
    }
    p {
        margin-bottom: 5px;
        &:first-of-type {
            margin-bottom: 10px;
        }
    }
    span {
        font-size: 14px;
    }
    &::after {
        content: 'РЕКЛАМА';
        display: block;
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        color: #8f8f8f;
    }
}

.product__map {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
    background-image: url("../img/product_map.jpg");
    background-size: cover;
}

.product__social {
    margin-bottom: 30px;
    line-height: 41px;
    span {
        display: inline-block;
        vertical-align: top;
        font: 14px $lato-thin;
        line-height: 41px;
    }
    a {
        display: inline-block;
        width: 41px;
        height: 41px;
        margin-left: 10px;
        font-size: 26px;
        color: #fff;
        text-align: center;
        @include border-radius(50%);
    }
    .vk {
        background-color: #4d76a1;
    }
    .fb {
        background-color: #3b5998;
    }
    .tw {
        background-color: #55acee;
    }
}

.product__more {
    font: 12px $lato-light;
    > div {
        float: left;
        width: 180px;
        margin-bottom: 10px;
        + div {
            margin-left: 57px;
        }
        p {
            margin-bottom: 5px;
        }
    }
    img {
        margin-bottom: 10px;
    }
}
.product__more__title {
    margin-bottom: 15px;
    font-size: 16px;
}
.product__more__goods-title {
    color: #56697a;
}
.product__more__price {
    font-size: 14px;
}

/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */

.bicycle-bg {
    background-image: url("../img/category_photo_1.jpg");
    background-size: cover;
}

.winter-equip-bg {
    background-image: url("../img/category_photo_2.jpg");
    background-size: cover;
}

.giroskuter-bg {
    background-image: url("../img/category_photo_3.jpg");
    background-size: cover;
}

.kick-scooter-bg {
    background-image: url("../img/category_photo_4.jpg");
    background-size: cover;
}

.rollers-bg {
    background-image: url("../img/category_photo_5.jpg");
    background-size: cover;
}

.travel-equip-bg {
    background-image: url("../img/category_photo_6.png");
    background-size: cover;
}

.map-bg {
    background-image: url("../img/category_photo_7.jpg");
    background-size: cover;
}

.calendar-icon, .list-icon {
    display: block;
    float: right;
    width: 33px;
    height: 33px;
    margin-top: -12px;
    background-image: url("../img/sprite.png");
}

.calendar-icon {
    background-position: 0 -64px;
}

.list-icon {
    background-position: -64px -64px;
}

.diamond-icon, .page-icon, .point-icon, .currency-icon, .diamond-big-icon, .top3-icon, .heart-icon, .fire-icon, .diamond-small-icon {
    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        background-image: url("../img/sprite.png");
    }
}

.diamond-icon::before {
    left: 0;
    width: 66px;
    height: 50px;
    background-position: 0 -128px;
}

.page-icon::before {
    left: 20px;
    width: 70px;
    height: 70px;
    background-position: -128px -128px;
}

.point-icon::before {
    left: 45px;
    width: 50px;
    height: 70px;
    background-position: -256px -128px;
}

.currency-icon::before {
    left: 0;
    width: 52px;
    height: 65px;
    background-position: 0 -256px;
}
.diamond-big-icon::before {
    left: 0;
    width: 85px;
    height: 65px;
    background-position: -128px -256px;
}
.top3-icon::before {
    left: 0;
    width: 66px;
    height: 66px;
    background-position: -256px -256px;
}
.heart-icon::before {
    top: 2px;
    left: -25px;
    width: 15px;
    height: 14px;
    background-position: 0px 0px;
}
.fire-icon::before {
    left: 0;
    width: 10px;
    height: 14px;
    background-position: 0px 0px;
}
.diamond-small-icon::before {
    left: 0;
    width: 19px;
    height: 14px;
    background-position: 0px 0px;
}

/* ----------------------------------------------
Pop up
---------------------------------------------- */

/*.pop-up-bg {
  position: fixed;
  display: none;
  width:100%;
  min-height:100%;
  height: 100%;
  top:0;
  background-color: rgba(0,0,0,0.8);
  overflow:hidden;
  z-index: 99;
}*/


