<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="">  <!--Ключевые слова-->
    <meta name="description" content=""> <!--Описание-->

    <title>onProkat</title>

    <!--Start Open Graph-->
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">   <!--Заголовок-->
    <meta property="og:description" content=""> <!--Краткое описание, которое выводится при формировании превью ссылки-->
    <meta property="og:url" content="http://"> <!--Ссылка на страницу сайта-->
    <meta property="og:image" content="http://"> <!--Ссылка на картинку, которая будет отображаться в посте-->
    <!--End Open Graph-->

    <!--Favicon-->
    <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png"/>-->

    <!--For improved cross-browser rendering-->
    <link rel="stylesheet" href="css/normalize.css">

    <!-- Custom styles CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<navbar class="navbar ng-isolate-scope"><header ng-class="{'hidden':$ctrl.isHidden}" class="" style="">
    <div class="header__nav-1 none">
        <div class="container">
            <nav class="top-menu-1">
                <a href="#">Магазины</a>
                <a href="#">Прокаты</a>
                <a href="#">Акции и предложения</a>
                <a href="#">Контакты</a>
            </nav>

            <div class="user-data">
                <span>0</span>
                <a href="#">Вход</a>
            </div>

        </div><!--container-->
    </div>

    <div class="header__nav-2">
        <div class="container">
            <a href="/" class="logo"></a>

            <nav class="top-menu-2">
                <a href="#">Прокат</a>
                <a href="#">Продажа</a>
                <a href="#">События</a>
                <a href="#">Статьи</a>
                <a href="#">Интерактивная карта </a>
            </nav>


            <a href="#" class="add-offer">+ Добавить предложение</a>

        </div><!--container-->
    </div>

</header></navbar>

<articles-inner class="ng-isolate-scope articles">

    <section class="pageheader articles-inner__pageheader">
        <div class="container">
            <div class="articles__title">
                <h1>Выбираем велосипед</h1>
                <p>самое полное руководство</p>
            </div>

        </div><!--container-->
    </section>

    <section class="content">
        <div class="container">
            <div class="content__block">
                <div class="article__content">
                    <div class="article__top-line">
                        <div>
                            <h2>Выбираем велосипед</h2>
                            <p class="article__date">16 сентября 2017</p>
                        </div>

                        <div class="article__evaluation">
                            <div>
                                <span class="look">10155</span>
                                <span class="comment">55</span>
                                <span class="like">155</span>
                            </div>

                            <div class="stars-box">
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                            </div>

                        </div>

                    </div>

                    <p>В штате Юта состоялся десятый этап самого авторитетного фрирайд-контеста планеты. Из-за угрозы
                        сильного ветра запланированные на субботу заезды пришлось провести днем ранее. Несмотря на это,
                        сотни тысяч зрителей по всему миру следили за соревнованиями 21 лучшего райдера планеты.</p>
                    <p>С каждым годом заезды на Red Bull Rampage становятся все сложнее и злее. Когда нам кажется, что
                        предел достигнут, своими трюками на грани реальности спортсмены разбивают рамки возможного.
                        Это впечатляет не только простых зрителей, и профессиональных райдеров. «Red Bull Rampage – одно из
                        немногих мероприятий, которого я жду с нетерпением в течении всего года, – поделился с нами
                        российский MTB-райдер Павел Алехин – Нереальные пейзажи, гигантские пролеты, отменная организация
                        события – это то, что приковывает к экранам сотни тысяч зрителей. В этом году райдеры, как всегда,
                        сделали невообразимое шоу!» Для некоторых спортсменов Red Bull Rampage стало шоу на грани фола.
                        Так, Энтони Бизе показал очень убедительную попытку на double backflip, но не смог его приземлить.
                        Райдер сильно травмировал левую руку и теперь шлет нам приветы из больницы.</p>

                    <img src="img/atricles-photo.jpg" alt="photo">

                    <p>Больше всего очков контеста набрал Курт Сорге – 96,5. Райдер из Канады стал вторым после Кайла
                        Стрейта спортсменом, которому удалось дважды победить на Red Bull Rampage. Андре Лакондегаю не
                        удалось защитить прошлогодний титул: с минимальным отставанием в 0,75 очка он занял второе место.
                        У Андре был шанс побороться за лидерство, но погода перечеркнула его планы. Сильный ветер не дал
                        испанскому райдеру совершить вторую попытку. Грэм Агассис с результатом 94,75 балла стал третьим.
                        Это баллы за первый заезд Грэма, так как погода испортила планы не только Лакондегаю. Лишь 12
                        райдеров успели проехаться второй раз до того, как поднялся сильный ветер, и организаторам пришлось
                        остановить соревнования. Сэм Рейнольдс, который впервые принимал участие в Red Bull Rampage, громко
                        заявил о себе, посадив superman`а через каньон глубиной 30 м. Этот трюк принес ему награду Best
                        Trick и третье место в голосовании #Rampagevote. В общем зачете Сэм оказался на девятой позиции.</p>

                    <img src="img/atricles-photo.jpg" alt="photo">

                    <p>Больше всего очков контеста набрал Курт Сорге – 96,5. Райдер из Канады стал вторым после Кайла
                        Стрейта спортсменом, которому удалось дважды победить на Red Bull Rampage. Андре Лакондегаю не
                        удалось защитить прошлогодний титул: с минимальным отставанием в 0,75 очка он занял второе место.
                        У Андре был шанс побороться за лидерство, но погода перечеркнула его планы. Сильный ветер не дал
                        испанскому райдеру совершить вторую попытку. Грэм Агассис с результатом 94,75 балла стал третьим.
                        Это баллы за первый заезд Грэма, так как погода испортила планы не только Лакондегаю. Лишь 12
                        райдеров успели проехаться второй раз до того, как поднялся сильный ветер, и организаторам пришлось
                        остановить соревнования. Сэм Рейнольдс, который впервые принимал участие в Red Bull Rampage, громко
                        заявил о себе, посадив superman`а через каньон глубиной 30 м. Этот трюк принес ему награду Best
                        Trick и третье место в голосовании #Rampagevote. В общем зачете Сэм оказался на девятой позиции.</p>

                    <div class="video-wrap">
                        <video poster="img/atricles-photo.jpg">
                            <source src="#">
                        </video>
                        <div class="video-controls"></div>
                    </div>
                    
                </div>
                
                <div class="article__list">
                    <a href="#" class="prev">предыдущая статья</a>
                    <a href="#" class="next">следующая статья</a>
                </div>
                
                <div class="article__comments">
                    <h4>Комментарии <span>(102)</span></h4>

                    <div class="comment__box">
                        <div class="comment__userpic">
                            <img src="img/userpic-1.jpg" alt="userpic">
                        </div>
                        
                        <div class="comment__content">
                            <div class="comment__title">
                                <p class="comment__username">Евгений Онегин</p>
                                <p class="comment__date">2 часа назад</p>
                            </div>

                            <p>Классное событие от Ред Бул, я обязательно поеду к ним. В прошлом году был - это было
                                очень круто!</p>

                            <div class="stars-box">
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                            </div>

                        </div>
                        
                    </div>

                    <div class="comment__box comment__answer">
                        <div class="comment__userpic">
                            <img src="img/userpic-2.jpg" alt="userpic">
                        </div>

                        <div class="comment__content">
                            <div class="comment__title">
                                <p class="comment__username">Абдул Абдула</p>
                                <p class="comment__date">2 часа назад</p>
                            </div>

                            <p>@ Евгений Олнегин Классное событие от Ред Бул, я обязательно поеду к ним.
                                В прошлом году был - это было очень круто!</p>

                            <div class="stars-box">
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                            </div>

                        </div>

                    </div>

                    <div class="comment__box">
                        <div class="comment__userpic">
                            <img src="img/userpic-3.jpg" alt="userpic">
                        </div>

                        <div class="comment__content">
                            <div class="comment__title">
                                <p class="comment__username">Всемогущий</p>
                                <p class="comment__date">2 часа назад</p>
                            </div>

                            <p>Классное событие от Ред Бул, я обязательно поеду к ним. В прошлом году был - это было
                                очень круто!</p>

                            <div class="stars-box">
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star active"></span>
                            </div>

                        </div>

                    </div>

                    <div class="comments__more">
                        <span class="more">Все комментарии</span>
                    </div>

                </div>
                
                <form class="add-comment-form">
                    <div class="input-box">
                        <input type="text" name="comment" placeholder="Есть что рассказать? Напишите об этом прямо здесь!" required="">

                        <div class="stars-box">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                    </div>

                    <button type="submit">Отправить комментарий</button>

                </form>



            </div>

            <aside class="sidebar">
                <div class="offers-box">
                    <h3>Прокаты</h3>
                    <a href="#">
                        <img src="img/trader_banner_logo_1.png" alt="company">
                        <p>100% СПОРТА <span>123 предложения</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_2.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_2.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_2.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>

                    <a class="more" href="#">Все прокаты</a>
                </div>

                <div class="offers-box">
                    <h3>Магазины</h3>
                    <a href="#">
                        <img src="img/trader_banner_logo_1.png" alt="company">
                        <p>100% СПОРТА <span>123 предложения</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_2.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_2.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_2.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>

                    <a class="more" href="#">Все магазины</a>
                </div>

                <div class="offers-box">
                    <h3>Акции и предложения</h3>
                    <a href="#">
                        <img src="img/trader_banner_logo_1.png" alt="company">
                        <p>100% СПОРТА <span>123 предложения</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_1.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_2.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>
                    <a href="#">
                        <img src="img/trader_banner_logo_2.png" alt="company">
                        <p>BikeCenter <span>55 предложений</span></p>
                    </a>

                    <a class="more" href="#">Все акции и предложения</a>
                </div>

            </aside>


        </div><!--container-->
    </section>

</articles-inner>


<pagefooter class="ng-isolate-scope"><section class="pagefooter">
    <div class="container">
        <p class="info-us">onProkat — база данных о прокате и продаже техники для отдыха. Использование сайта, размещение предложений, означает согласие с <a href="#">Пользовательским соглашением</a>
            и <a href="#">Политикой конфиденциальности</a> onProkat. Оплачивая услуги на сайте, вы принимаете <a href="#">Лицензионное соглашение</a>.</p>

    </div><!--container-->

    <div class="footer-nav">
        <div class="container">
            <nav class="footer-menu">
                <a href="#">Справочный центр</a>
                <a href="#">Тарифы и цены</a>
                <a href="#">Контакты</a>
                <a href="#">Реклама на сайте</a>
                <a href="#">Продвижение объявлений</a>
                <a href="#">Премиум-размещение</a>
                <a href="#">Спецпредложения</a>
                <a href="#">Поиск на карте</a>
                <a href="#">Карта сайта</a>
            </nav>
        </div><!--container-->
    </div>

    <footer>
        <div class="container">
            <p>© 2016 onProkat - Поиск прогулочной техники в прокат во всем мире</p>
            <div>
                <custom-select class="revers choose-lang ng-isolate-scope" options="$ctrl.langSelects" selected-option="$ctrl.langSelected" custom-func="$ctrl.onChooseLang"><a href="javascript:void(0)" ng-class="{'active': $ctrl.isOpen}" ng-click="$ctrl.isOpen = !$ctrl.isOpen" class="ng-binding">Русский</a>
                    <!-- ngIf: $ctrl.isOpen --></custom-select>
                <custom-select class="revers coose-currency ng-isolate-scope" options="$ctrl.currencySelects" selected-option="$ctrl.currencySelected" custom-func="$ctrl.onChooseCurrency"><a href="javascript:void(0)" ng-class="{'active': $ctrl.isOpen}" ng-click="$ctrl.isOpen = !$ctrl.isOpen" class="ng-binding">RUB</a>
                    <!-- ngIf: $ctrl.isOpen --></custom-select>
                <!--<ul class="choose-lang">
                    <li class="active"><a href="#">Русский</a></li>
                    <li><a href="#">English</a></li>
                </ul>
                <ul class="coose-currency">
                    <li class="active"><a href="#">RUB</a></li>
                    <li><a href="#">USD</a></li>
                </ul>-->
            </div>
        </div><!--container-->
    </footer>
</section></pagefooter>

<!--Scripts-->

<script src="https://use.fontawesome.com/6a731650b0.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js"></script>
<script src="components/main-page/main-page.js"></script>-->
</body>
</html>